/* Global variables */
:root {
  --white: #FFFFFF;
  --darker-white: #f8f9fa;
  --black: #212529;
  --header-background: #EDF2F4;
  --green: #15BE53;
  --blue: #3E92CC;
  --orange: #DD6E42;
  --cyan: #4F6D7A;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--black);
  background-color: var(--white);
}

.section-header {
  color: var(--black);
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: var(--header-background);
  background-color: var(--header-background);
  width: fit-content;
  border-radius: 40px;
  justify-content: center;
  padding: 0.7rem;
  margin-left: 4%;
  margin-bottom: 1%;
  font-size: 1.5rem;
}

.links {
  color: var(--green);
  font-weight: 600;
  text-decoration: none;
}

.links:hover {
  opacity: 0.85;
  color: var(--black);
}

.photography {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.gallery-spot {
  width: 47.9%;
  margin: 0.5rem;
}


@media only screen and (max-width: 900px) {
  .gallery-spot {
    width: 100%
  }
}

.photo {
  border-radius: 9px;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.location {
  color: var(--white);
  opacity: 0;
  position: relative;
  text-align: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  top: -1.40rem;
  background-color: #343a40;
}

.gallery-spot:hover .location {
  opacity: 0.8;
}

.publications-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.all-publications-link {
  display: flex;
  flex-direction: row;
  color: var(--black);
  position: relative;
  top: 30%;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  padding-right: 12rem;
}

.all-publications-link .arrow {
  transition: 0.2s ease-in;
}

.all-publications-link:hover .title {
  opacity: 0.65;
  text-decoration: underline;
}

.all-publications-link:hover .arrow {
  opacity: 0.65;
  transform: translateX(50%);
}

.publications-section a {
  text-decoration: none;
}

.research {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

ul.publications-list {
  list-style-type: circle;
  margin-left: 9%;
  margin-top: 2%;
}

p.publication-info {
  margin-top: 0.1%;
}

.publication-link {
  color: var(--green);
  /*color: #3E92CC;*/
  text-decoration: none;
}

.publication-link:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.publications {
  display: flex;
  flex-direction: column;
  margin-left: 0.5%;
  margin-right: 15%;
  font-size: 1.1rem;
}

.home-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.05rem;
  padding: 2rem;
}

.home-intro-writing {
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 65%
}

.home-intro-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.home-intro-icons {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  justify-content: center;
}

.profile-picture {
  border-radius: 9px;
  height: 17.3em;
}

.github-icon {
  height: 2.55em;
  margin-left: 50%;
  position: relative;
  top: 0;
  transition: top linear 0.2s;
}

.github-icon:hover {
  top: -5px;
}

.email-icon {
  height: 2.55rem;
  margin-left: 25%;
  position: relative;
  top: 0;
  transition: top linear 0.2s;
}

.email-icon:hover {
  top: -5px;
}

.google-scholar-icon {
  height: 2.55rem;
  margin-left: 75%;
  position: relative;
  top: 0;
  transition: top linear 0.2s;
}

.google-scholar-icon:hover {
  top: -5px;
}

.home-intro h1 {
  font-size: 2.8rem;
}

.home-intro p {
  font-size: 1.5rem;
}

.home-news {
  display: flex;
  flex-direction: column;
  background-color: var(--darker-white);
  padding: 1.7rem;
}

.timeline {
  margin-top: 0rem;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  padding-top: 0rem;
  padding-left: 4rem;
  padding-right: 4rem;
}


.timeline-item {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  margin-left: 1.8rem;
  margin-bottom: 0.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  padding-right: 2rem;
  background-color: #e9ecef;
  border-radius: 9px;
  width: fit-content;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}

.timeline-item .circle {
  border: 2px solid var(--orange); 
  border-radius: 50%;
  min-width: 0.75em;
  min-height: 0.75em;
  width: 0.75em;
  height: 0.75em;
  position: relative;
  top: 0.25rem;
  right: 0.25rem;
}

.timeline-item .date{
  color: var(--cyan);
  font-weight: 700;
  padding-left: 2rem;
}

.timeline-item .news {
  color: var(--black);
  font-weight: 500;
  padding-left: 0.3rem;
}

.timeline-list {
  list-style: none;
  padding-left: 1%;
  margin-top: 0%;
}
.timeline-list >li {
  position: relative;
  display: flex;
  flex-direction: row;
}
.timeline-list >li:before {
  content: '\25CB';
  position: absolute;
  top: 0.75em;
  font-size: 1rem;
  font-weight: bold;
  color: var(--orange)
}

.nav {
  background-color: var(--white);
  opacity: 0.97;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.85rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.site-title {
  font-size: 1.75rem;
}

.site-title:hover {
  opacity: 0.65;
  color: var(--green);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover {
  opacity: 0.65;
  color: var(--green);
}
